.card {
  display: block;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  text-decoration: none;
  color: #282828;
  overflow: hidden;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* обёртка картинки */
.imageWrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.image {
  width: 100%;
  height: 284px;
  object-fit: cover;
  display: block;
}

/* бейдж скидки */
.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #0D50FF;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  padding: 2px 6px;
}

/* название */
.title {
  margin: 0.5rem 0.75rem 0;
  font-size: 0.95rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* цены */
.priceBox {
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
  margin: 0.4rem 0.75rem 0.8rem;
}

.newPrice {
  font-size: 1.2rem;
  font-weight: 700;
  color: #282828;
}

.oldPrice {
  font-size: 0.9rem;
  color: #8B8B8B;
  text-decoration: line-through;
}

.addBtn {
  left: 4%;
  height: 3.4em;
  width: 92%;
  position: absolute;
  bottom: 80px;
  border: 0;
  border-radius: 6px;
  background: #0D50FF;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 22px rgba(16, 101, 255, .35);
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease,  box-shadow .2s ease;
}

.card:hover .addBtn,
.card:focus-within .addBtn {
  opacity: 1;
  pointer-events: auto;
}

.addBtn:hover {
  box-shadow: 0 10px 28px rgba(16, 101, 255, .45);
}

.addBtn:active {
    background: #282828;
}