.wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.empty {
  color: #8B8B8B;
  font-size: clamp(1.125rem, 1.2vw + 0.5rem, 1.5rem);
  font-weight: 500;
  padding: 3rem 1rem;
  text-align: center;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: start;
}

/* Галерея */

.gallery {
  max-height: 572px;
  display: flex;
  gap: 2rem;

}

.gallery img {
  max-height: 572px;
  width: max-content;
  border-radius: 12px;
  object-fit: contain;
}

.groupImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* по горизонтали */
  gap: 1rem;
  height: 100%;
  width: 200px;
}

/* Каждая миниатюра */
.thumb {
  flex: 1;
  /* равное распределение ширины */
  aspect-ratio: 1.1 / 1;
  /* делает их квадратными */
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


/* разные положения одного и того же изображения */
.top {
  object-position: center top;
}

.center {
  object-position: center center;
}

.bottom {
  object-position: center bottom;
}



/* Инфо */
.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 700;
}

.oldPrice {
  color: #8b8b8b;
  text-decoration: line-through;
}

.discount {
  background: #0D50FF;
  color: #fff;
  font-size: 0.9rem;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
}

.buttonGroup {
  display: flex;
  gap: 2rem;
}

/* Qty */
.qtyBox {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  width: fit-content;

}

.qtyBox button {
  margin: -1px;
  height: 58px;
  width: 58px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0 6px;
}

.qtyBox span {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Add to cart */
.addBtn {
  flex: 1;
  background: #0D50FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background .2s ease;
}

.addBtn:hover {
  background: #003BCE;
}

.addBtn:active {
  background: #282828;
}

/* Description */
.descTitle {
  font-size: 1.3rem;
  font-weight: 600;
}

.descText {
  max-width: 600px;
  line-height: 1.3;
  font-weight: 400;

  /* Обрезаем текст */
  display: -webkit-box;
  -webkit-line-clamp: 8;
  /* ← показываем 3 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height .3s ease;

  flex: 1;
  transition: max-height 0.35s ease;
}

.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
  max-height: 2000px;
}

.readMore {
  width: max-content;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}



/* Responsive */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}