.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  color: #111;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.contacts {
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  gap: 2rem;
}

/* Левая колонка (1 и 3 элементы) */
.cards > :nth-child(1),
.cards > :nth-child(3) { grid-column: 1; }

/* Правая колонка (2 и 4 элементы) */
.cards > :nth-child(2),
.cards > :nth-child(4) { grid-column: 2; }

/* Карта — занимает обе колонки контейнера */
.mapWrap {

  height: 350px;
  overflow: hidden;
  border-radius: 12px;
}

.mapWrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Карточки */
.card {
  background: #F1F3F4;
  border-radius: 12px;
  padding: 2rem;
  font-weight: 600;
}
.card a{
  text-decoration: none;
  color: inherit;
}

.card h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #8B8B8B;
}



.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.socials img {
  width: 44px;
  height: 44px;
  transition: transform .2s ease;
}
.socials img:hover { opacity: 1; transform: scale(1.1); }


@media (max-width: 768px) {
  .cards { grid-template-columns: 1fr; }
  .mapWrap { height: 240px; }
}
