.page {
  --checkmark-icon-white: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9L7.5 12.5L14 6' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.page {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.title {
  font-size: 4rem;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  font-size: 1.2rem;
  font-weight: 600;
}

.filters input,
.filters select {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
}

.checkboxWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.checkboxWrap input {
  display: none;
}

.checkBox {
  width: 36px;
  height: 36px;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .15s ease, border-color .15s ease;
}

/* active state */
.checkboxWrap input:checked+.checkBox {
  background: #0D50FF;
  border-color: #DDDDDD;
}

/* white SVG checkmark */
.checkboxWrap input:checked+.checkBox::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: var(--checkmark-icon-white);
  background-repeat: no-repeat;
  background-position: center;
}