@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  color: #282828;
}

.app main {
  flex: 1;
}

