.wrap {
  min-height: clamp(420px, 80vh, 760px);
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

/* Блок 4 • puppy • 4 */
.codes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* SVG 4 */
.four {
  width: clamp(10rem, 8vw, 18rem);
  height: auto;
}

/* Dog image */
.img {
  width: clamp(18rem, 15vw, 20rem);
  object-fit: contain;
}

.title {
  font-size: clamp(3rem, 4vw, 4rem);
  font-weight: 800;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: #8B8B8B;
  line-height: 1.3;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 2rem;
  background: #0D50FF;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background .15s, transform .08s;
}

.btn:hover { background: #1749d6; }
.btn:active { transform: translateY(1px); }
